<?xml version='1.0' encoding='utf-8'?>
<widget id="org.tsi11.final_project.jackson_lessa" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Animal Finder</name>
    <description>
       Animal Finder Project
    </description>
    <author email="jacksonj.lessa@gmail.com">
        TSI11 - Jackson Lessa, Jakeline Rodrigues
    </author>
	<content src="index.html"/>
	<icon src="icon.png" width="256" height="256" />
	
    <gap:splash gap:platform="android" height="480" src="res/screen/android_hdpi_landscape.png" width="800" />
    <gap:splash gap:platform="android" height="800" src="res/screen/android_hdpi_portrait.png" width="480" />
    <gap:splash gap:platform="android" height="200" src="res/screen/android_ldpi_landscape.png" width="320" />
    <gap:splash gap:platform="android" height="320" src="res/screen/android_ldpi_portrait.png" width="200" />
    <gap:splash gap:platform="android" height="320" src="res/screen/android_mdpi_landscape.png" width="480" />
    <gap:splash gap:platform="android" height="480" src="res/screen/android_mdpi_portrait.png" width="320" />
    <gap:splash gap:platform="android" height="720" src="res/screen/android_xhdpi_landscape.png" width="1280" />
    <gap:splash gap:platform="android" height="1280" src="res/screen/android_xhdpi_portrait.png" width="720" />
    <gap:splash gap:platform="blackberry" height="300" src="res/screen/blackberry_transparent_300.png" width="300" />
    <gap:splash gap:platform="blackberry" height="200" src="res/screen/blackberry_transparent_400.png" width="200" />
    <gap:splash gap:platform="ios" height="748" src="res/screen/ipad_landscape.png" width="1024" />
    <gap:splash gap:platform="ios" height="1004" src="res/screen/ipad_portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="1496" src="res/screen/ipad_retina_landscape.png" width="2048" />
    <gap:splash gap:platform="ios" height="2008" src="res/screen/ipad_retina_portrait.png" width="1536" />
    <gap:splash gap:platform="ios" height="320" src="res/screen/iphone_landscape.png" width="480" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/iphone_portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="640" src="res/screen/iphone_retina_landscape.png" width="960" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/iphone_retina_portrait.png" width="640" />
    <gap:splash gap:platform="winphone" height="800" src="res/screen/windows_phone_portrait.jpg" width="480" />
    <!--comment-->
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <!--/comment-->
    
	<preference name="android-minSdkVersion" value="9" />
	<preference name="prerendered-icon" value="true" />
    <preference name="phonegap-version" value="2.9.0" />
	<!--<preference name="orientation" value="landscape" />-->
<!-- 	<preference name="orientation" value="portrait" /> -->
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <access origin="*" />
</widget>
